astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
data/
infrastructure/
.terraform/
*.tar
*.tfstate*
include/data/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/
*.log
data