data/
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.astro/
.venv
.terraform/
*.tfstate*
*.tfvars
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/gcp-keyfile.json
include/data
